@model Category
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    @(Model.Id != 0 ? "Sửa" : "Tạo") danh mục
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Name" class="ms-2 mt-1 fw-bold">Tên danh mục</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="DisplayOrder" type="text" class="form-control border-0 shadow" />
                            <label asp-for="DisplayOrder" class="ms-2 mt-1 fw-bold">Tên danh mục</label>
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3 px-2">
                                @if (Model.Id != 0)
                                {

                                    <button type="submit" class="btn btn-primary form-control btn-lg">Sửa</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control btn-lg">Tạo</button>
                                }

                            </div>
                            <div class="col-6 col-md-3 px-2">
                                <a asp-controller="category" asp-action="Index" class="btn btn-outline-primary border btn-lg form-control">
                                    Trở về danh sách
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>